html {
  background: slategrey;
  color: rgb(5, 5, 202);
}
input, button, textarea {
  background: rgb(139, 166, 192);
  color: rgb(5, 5, 202);
}
dt{
  font-size:23px;
  padding: 5px;
}

#report {
  display: flex;
  flex-direction: row;
  color: rgb(5, 5, 202);
}
#vehicle-report {
  /* border: 5px outset black; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30em;
}
dd {
  margin: 0;
  padding: 4px;
}
 textarea {
   width: 200px;
   height: 1.75em;
   resize: none;
 }

